n8n/New_Cities_Launch_Tracker_Refresh.n8n.json
{
  "name": "New Cities Launch Tracker — Monday Refresh",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 11 * * 1"
            }
          ]
        }
      },
      "id": "schedule-monday",
      "name": "Every Monday 11:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "notes": "Cron uses n8n instance timezone — set workflow timezone to Europe/Prague in workflow settings."
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "bash /Users/misbahiradat/Downloads/cz_city_v2_dashboard/scripts/refresh_and_push.sh"
      },
      "id": "ssh-refresh",
      "name": "SSH — run local refresh",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [480, 300],
      "notes": "Requires your Mac awake + reachable on VPN/LAN. Configure SSH credentials (host, user, private key). Prefer macOS launchd (scripts/install_monday_refresh.sh) if Mac is not always reachable."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ok-check",
              "leftValue": "={{ $json.code }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-success",
      "name": "Exit code 0?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/syedkhan-prog/cz-city-v2-dashboard/commits/main",
        "options": {}
      },
      "id": "verify-github",
      "name": "Verify latest GitHub commit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 220],
      "notes": "Optional sanity check after refresh. Add GitHub PAT in credentials if rate-limited."
    }
  ],
  "connections": {
    "Every Monday 11:00": {
      "main": [
        [
          {
            "node": "SSH — run local refresh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH — run local refresh": {
      "main": [
        [
          {
            "node": "Exit code 0?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exit code 0?": {
      "main": [
        [
          {
            "node": "Verify latest GitHub commit",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "timezone": "Europe/Prague",
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
